@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartOne


<table class="table table-bordered">
  

        <tr>

            <th class="Returntdhead" colspan="3" style="background-color: #FBD4B4!important">

                <div class="parthead">অংশ-১২: ঘোষণা</div>

            </th>

        </tr>


 


        <tr style="background-color: #FBD4B4!important">
            <td colspan="3"> আমি ঘোষণা করিতেছি যে, এই দাখিল পত্রের তথ্য সর্বোতভাবে সম্পূৰ্ণ, সত্য ও নির্ভুল। কোনো অসম্পূর্ণ বা অসত্য তথ্যের জন্য মূল্য সংযোজন কর ও সম্পূরক শুল্ক আইন, ২০১২ অথবা আপাতত বলবৎ এসংক্রান্ত যে কোনো আইনের আওতায় দণ্ডনীয় অপরাধে অপরাধী হব।</td>



        </tr>



        <tr>

            <td style="width:300px;"> নাম</td>
            <td class="border-end">@Model.VatResponsiblePersonName</td>
            <td rowspan="6" style="width:300px;"></td>
        </tr>



        <tr>

            <td> পদবি</td>
            <td class="border-end">@Model.VatResponsiblePersonDesignation</td>
        </tr>

        <tr>

            <td> তারিখ</td>
            <td class="border-end"></td>

        </tr>
        <tr>

            <td> মোবাইল নম্বর</td>
            <td class="border-end">@Model.VatResponsiblePersonMobileNo</td>


        </tr>
        <tr>

            <td> ইমেইল</td>
            <td class="border-end">@Model.VatResponsiblePersonEmailAddress</td>

        </tr>
        <tr>
            <td>সাক্ষর (অনলাইন দাখিলের ক্ষেত্রে  প্রয়োজন নাই)</td>
            <td class="border-end"></td>
        </tr>


        <tr>
        </tr>
   
</table>
