@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartTwo

<table class="table table-bordered">
    @*<thead>*@

        <tr>

            <th class="MreturnHeader" colspan="3" style="background-color: #FBD4B4!important">

                <div class="parthead text-center"> অংশ-২: দাখিলপত্র জমার তথ্য</div>
            </th>
        </tr>
    @*</thead>
    <tbody class="Returntd">*@

        <tr>
            <td class="tdp1">(১) কর মেয়াদ </td>
            <td class="tdp2"> :</td>
            <td>@Model.TermOfTax</td>
        </tr>

        <tr>
            <td>
                (২) দাখিলপত্রের প্রকার
                [অনুগ্রহ করিয়া প্রযোজ্য টিতে টিক দিন]
            </td>
            <td class="tdp2"> :</td>
            <td>
            @*@Model.TypeOfSubmission*@
                <table class="inner-table">
                    <tr>
                        <td>(ক) মূল দাখিলপত্র (ধারা ৬৪)</td>
                        <td><input type="checkbox" name="" value="" checked /></td>
                    </tr>
                    <tr>
                        <td>(খ) সংশোধিত দাখিলপত্র (ধারা ৬৬)</td>
                        <td><input type="checkbox" name="" value="" /></td>
                    </tr>
                    <tr>
                        <td>(গ) পূর্ণ, অতিরিক্ত বা বিকল্প দাখিলপত্র (ধারা ৬৭) </td>
                        <td><input type="checkbox" name="" value="" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>(৩) বিগত করমেয়াদে কোন কার্যক্রম সম্পাদিত হইয়াছে কি? </td>
            <td class="tdp2"> :</td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="IsTransactionOccuredInLastTermYes" disabled="disabled" checked="@(Model.IsTransactionOccuredInLastTerm == true)">
                    <label class="form-check-label" for="IsTransactionOccuredInLastTermYes">হ্যাঁ</label>
                    
                    <input type="checkbox" style="margin-left: 9px;" disabled="disabled" checked="@(Model.IsTransactionOccuredInLastTerm != true)">
                    <label class="form-check-label" for="IsWantToGetBackClosingAmountNo">না</label>
                </div>
                <div>[যদি 'না' হয় তাহা হইলে অংশ - ১, ৩, এবং ১১ পূরণ করুন] </div>
            </td>
        </tr>

        <tr>
            <td>(৪) পেশের তারিখ</td>
            <td class="tdp2"> :</td>
            <td>@StringGenerator.DateTimeToString(Model.SubmissionDate, false)</td>
        </tr>
    @*</tbody>*@
</table>