<div class="col-12">
	<ul class="nav nav-pills mr-auto align-bottom purchaseNavBar">
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sales" asp-action="Index">All</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="SalesLocal" asp-action="Index">Local Sales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="SalesForeign" asp-action="Index">Foreign Sales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sales" asp-action="SaleVds">VDS List</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sales" asp-action="SalesDue">Due</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sales" asp-action="UploadSimplifiedLocalSaleWithoutPaymentList">Upload</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sales" asp-action="UploadSimplifiedLocalSaleCalculateByVat">Upload Local Sale Calculated by VAT</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="SalesPriceReduce" asp-action="Index">Price Reduce (Credit Note)</a>
		</li>
	</ul>
</div>