<div id="uxGlobalConfirmation" class="modal col-xs-12">
    <div class="conf modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-confirmation">
                <h4 id="uxModalTitle" class="modal-title">Modal title</h4>
                <button type="button" class="close btn btn-danger float-end" data-dismiss="modal" aria-hidden="true"><i class="bi bi-x"></i></button>
            </div>
            <div class="conf modal-body">
                <b id="uxConfMessage"></b>
            </div>
            <div class="conf modal-footer">
                <button id="uxModalBtnClose" type="button" class="btn btn-light btn-sm" data-dismiss="modal">Close</button>
                <button id="uxModalBtnSave" type="button" class="btn btn-primary btn-sm">Save changes</button>
            </div>
        </div>
    </div>
</div>
