<ul class="list-unstyled ps-0">
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mushak-4" aria-expanded="false">
			Mushak- 4*
		</button>
		<div class="collapse" id="mushak-4">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakFourPointThree">Mushak- 4.3</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakFourPointFourList">Mushak- 4.4</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakFourPointFiveList">Mushak- 4.5</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mushak-6" aria-expanded="false">
			Mushak- 6*
		</button>
		<div class="collapse" id="mushak-6">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointOneNew">Mushak- 6.1 (Purchase Book)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointTwoNew">Mushak- 6.2 (Sale Book)</a>
				</li>
@* 				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointOneNew">Mushak- 6.1 (Purchase Book)</a>
				</li> *@
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointTwoPointOneNew">Mushak- 6.2.1 (Sale and Purchase Book)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointThreeList">Mushak- 6.3 (VAT Chalan)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="Mushok6P4">Mushak-6.4 (Contractual Chalan)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointFiveList">Mushak- 6.5 (Branch Transfer Challan)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointSixList">Mushak- 6.6 (VDS Certificate)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Sales" asp-action="CreditNoteView">Mushak- 6.7 (Credit Note for Sales Return)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointSevenForSalesPriceReduceList">Mushak- 6.7 (Credit Note for Sales Price Reduce)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Purchase" asp-action="DebitNoteView">Mushak-6.8 (Debit Note for Purchase Return)</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="MushakSixPointTen">Mushak- 6.10</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mushak-9" aria-expanded="false">
			Mushak- 9*
		</button>
		<div class="collapse" id="mushak-9">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="Mushok9P1">Mushak- 9.1</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mushak-misc" aria-expanded="false">
			Miscellaneous
		</button>
		<div class="collapse" id="mushak-misc">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Mushak" asp-action="TdsCertificateList">TDS Certificate</a>
				</li>
			</ul>
		</div>
	</li>
</ul>