<ul class="list-unstyled ps-0">
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rpt-purchase" aria-expanded="false">
			Purchase
		</button>
		<div class="collapse" id="rpt-purchase">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="Index">All Purchase</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="PurchaseReportVendorGrouped">All Purchase Supplier/Vendor Grouped</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="PurchaseReportByBranch">Purchase by Branch</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="PurchaseReportByVendor">Purchase by Supplier/Vendor</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="PurchaseReportByBranchAndVendor">Purchase by Branch and Supplier/Vendor</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="Summery">All Purchase Summery</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="PurchaseReportMonth">Monthly Purchase</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="PurchaseReportByProduct">Purchase By Product</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="ProductPurchaseList">Product Purchase List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="PurchaseVDSListReport">Purchase VDS List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="PuchaseDetailsListReport">Puchase Details List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="PurchaseReports" asp-action="DebitNoteDetailsReport">Debit Note Details Report</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="VendorReport">Supplier/Vendor</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rpt-sale" aria-expanded="false">
			Sales
		</button>
		<div class="collapse" id="rpt-sale">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="Index">All Sales</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesReportCustomerGrouped">All Sales Customer Grouped</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesReportByBranch">Sales by Branch</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesReportByCustomer">Sales by Customer</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesReportByBranchAndCustomer">Sales by Branch and Customer</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="ProductSalesList">Product Sales List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesDetailsListReport">Sales Details List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="CreditNoteDetailsReport">Credit Note Details Report</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="Summery">All Sales Summery</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesVDSListReport">Sales VDS List</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="CustomerReport">Customer By Date</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="AllCustomerReport">All Customer</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="SalesReports" asp-action="SalesDueAging">Sales Due Aging Report</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="ContractualProductionReport">Contractual Production</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rpt-production" aria-expanded="false">
			Production
		</button>
		<div class="collapse" id="rpt-production">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" href="#">Production</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rpt-product" aria-expanded="false">
			Product
		</button>
		<div class="collapse" id="rpt-product">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link" asp-controller="ProductReport" asp-action="ProductCurrentStock">Current Stock</a>
				</li>
				<li>
					<a class="nav-link" asp-controller="ProductReport" asp-action="ProductStock">Product Stock</a>
				</li>
			</ul>
		</div>
	</li>
	<li class="border-top my-1"></li>
	<li class="mb-1">
		<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rpt-misc" aria-expanded="false">
			Miscellaneous
		</button>
		<div class="collapse" id="rpt-misc">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="YearlyComparisonReport">Yearly Comparison Report</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="MonthlyComparisonReport">Monthly Comparison Report</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="InputOutputCoEfficientReport">Input-Output Co-Efficient</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="UsersReport">Users</a>
				</li>
				<li>
					<a class="nav-link link-dark rounded" asp-controller="Reports" asp-action="UsersLoginReport">Login History</a>
				</li>
			</ul>
		</div>
	</li>
</ul>