<div id="pageFooter" class="print-footer">
    <div class="float-start">
        Date: @StringGenerator.DateTimeToString(DateTime.Now)
    </div>
    <div class="float-end page-number" style="counter-increment: page 1; "></div>
</div>