<form role="form" method="post">

    <div class="portlet-title mt-1">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
            <span class="caption-subject bold uppercase">  Search Option</span>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="row mt-2">

            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label has-info">
                    <label for="VendorInfo">Vendor</label>
                    <input type="hidden" name="IsReportVisible" id="IsReportVisible" value="true" />
                    <select class="form-control form-control-sm" id="VendorInfo">
                        <option value=""></option>
                        <option value="1">ACI</option>
                        <option value="2">ALIF Group</option>
                        <option value="3">SB Super Delux</option>
                        <option value="4">Brac Bank</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label has-info">
                    <label for="ProductInfo">Product</label>
                    <select class="form-control form-control-sm" id="ProductInfo">
                        <option value=""></option>
                        <option value="1">Oil Barel</option>
                        <option value="2">Storage Box</option>

                    </select>

                </div>

            </div>
            <div class="col-sm-2">
                <div class="form-group form-md-line-input form-md-floating-label has-info">
                    <label for="VendorName">Vendor Name</label>
                    <input type="text" class="form-control form-control-sm" id="VendorName">

                </div>
            </div>




            <div class="col-md-2">
                <div class="form-group form-md-line-input form-md-floating-label has-info">
                    <label for="VendorInfo">Year</label>
                    <input type="hidden" name="IsReportVisible" id="IsReportVisible" value="true" />
                    <select class="form-control form-control-sm" id="VendorInfo">
                        <option value=""></option>
                        <option value="1">2018-2019</option>
                        <option value="2">2017-2018</option>
                        <option value="3">2016-2017</option>
                        <option value="4">2015-2016</option>
                    </select>

                </div>
            </div>
            <div class="col-md-2 ">

                <button type="submit" class="btn btn-primary" style="margin-top:32px"><i class="fa fa-search"></i> Show</button>
            </div>

        </div>
            

       



    </div>




</form>