
@{
    ViewData["Title"] = "SaleCancellations";
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Sale Cancellations </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-2 ml-2">
                <label for="Party"  id="party" class="form-control">Party</label>
            </div>
            <div class="col-md-2">
                <select class="form-control salesCalc">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2 orderNo">
                <label for="orderNo" class="form-control orderNumber">OrderNo</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="col-md-2 formDate">
                <label for="fromDate" class="form-control from">From</label>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control" id="fromDate">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">

            <div class="col-md-2 ml-2">
                <label for="status" style="width:40%;" id="party" class="form-control">Status</label>
            </div>
            <div class="col-md-2">
                <select class="form-control salesCalc">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2 orderNo">
                <label for="branch" class="form-control branch">Branch</label>
            </div>
            <div class="col-md-2">
                <select class="form-control" id="usr">
                    <option value="All">All</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                    <option value="Test1">Test1</option>
                </select>
            </div>
            <div class="col-md-2 formDate">
                <label for="toDate" class="form-control orderNumber">To</label>
            </div>
            <div class="col-md-2">
                <input type="date" class="form-control toDate" id="toDate">
            </div>
        </div>
    </div>
  
</div>

