@model vms.entity.viewModels.CustomerViewModel.CustomerManageViewModel
@{
	ViewData["Title"] = "Manage Customer Subscription";

	var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

@section contentheader
{
	<div class="p-3 page-header">
		@ViewData["Title"]
	</div>
}

<div class="row">
	<div class="col-12">
		<table class="table table-bordered">
			<tbody>
			<tr>
				<td>Name</td>
				<td>@Model.Customer.Name</td>
				<td>BIN</td>
				<td>@Model.Customer.Bin</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>@Model.Customer.Address</td>
				<td>Billing Branch</td>
				<td>HO</td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="col-12">
		<div class="font-weight-bold mt-3">
			Subscribed Service List
		</div>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Name</th>
				<th>Monthly Bill</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Service 1</td>
				<td class="text-right">5000.00</td>
			</tr>
			<tr>
				<td>Service 2</td>
				<td class="text-right">3000.00</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>