@model vms.entity.viewModels.ProductMeasurementUnit.ProductMeasurementUnitIndexViewModel 
@{
	var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">
			@if (UserAuthorization.Check(FeatureList.ADMINSTRATION_PRODUCT_MEASURMENT_UNIT_CAN_EDIT, session.Rights))
			{
				<li>
					<a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.EncryptedId"><i class="bi bi-pencil-square"></i> Edit</a>
				</li>
			}
			@if (UserAuthorization.Check(FeatureList.ADMINSTRATION_PRODUCT_MEASURMENT_UNIT_CAN_DELETE, session.Rights))
			{
				if (Model.IsActive == true)
				{
					<li>
						<a class="dropdown-item" href="ProductMeasurementUnit/ChangeProductMeasurementUnitStatus/@Model.EncryptedId" type="button" data-requiredconfirmation="true"><i class="bi bi-exclamation-diamond"></i> Inactive</a>
					</li>
				}
				else
				{
					<li>

						<a class="dropdown-item" href="ProductMeasurementUnit/ChangeProductMeasurementUnitStatus/@Model.EncryptedId" type="button" data-requiredconfirmation="true"><i class="bi bi-check-circle"></i> Active</a>
					</li>
				}
			}

		</ul>
	</div>
</div>