@model IEnumerable<vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartEight>

<table class="table table-bordered">
    <thead>

        <tr>

            <th class="MreturnHeader" colspan="5">

                <h4>Part-9:ACCOUNTS CODE WISE PAYMENT SCHEDULE(TREASURY DEPOSIT) </h4>
            </th>
        </tr>
    </thead>
    <tbody class="Returntd">

        <tr class="Returntdhead">
            <td class="Returntdhead">Items</td>
            <td>Note</td>
            <td>Account Code</td>
            <td>Amount</td>
            <td></td>
        </tr>

        
    </tbody>
</table>