

<table class="table table-bordered">
    <thead>

        <tr>

            <th class="Returntdhead" colspan="3">

                <h4>Part-8:ADJUSTMENT FOR OLD ACCOUNT CURRENT BALANCE  </h4>

            </th>
        </tr>


    </thead>
    <tbody class="Returntd">


        <tr>

            <td>Items</td>
            <td>Note</td>
            <td>Amount</td>


        </tr>



        <tr>

            <td>Remaining Balance (VAT) from Mushak-18,6, [Rule 118(5)]</td>
            <td>54</td>
            <td class="manual"></td>




        </tr>
        <tr>

            <td>Remaining Balance (SD) from Mushak-18,6, [Rule 118(5)]</td>
            <td>55</td>
            <td class="manual"></td>




        </tr>

        <tr>

            <td>Decreasing Adjustment for Note 54(up to 10% of Note 34) </td>
            <td>56</td>
            <td ></td>
        </tr>

        <tr>

            <td>Decreasing Adjustment for Note 55(up to 10% of Note 36)</td>
            <td>57</td>
            <td ></td>

        </tr>
    </tbody>




</table>
