@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartOne


<table class="table table-bordered">
    <thead>

        <tr>

            <th class="Returntdhead" colspan="4">

                <h4>Part-11:REFUND </h4>

            </th>

        </tr>

    </thead>
    <tbody class="Returntd">
       
        <tr>

            <td>Requested Amount for Refund (VAT)</td>
           <td>67</td>
           <td class="manual"></td>

        </tr> 
        <tr>

            <td>Requested Amount for Refund (SD)</td>
           <td>68</td>
           <td  class="manual"></td>

        </tr>


    </tbody>

</table>
