@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartNine


<table class="table table-bordered">
    <thead>

        <tr>
            <th class="MreturnHeader" colspan="4">
                <h4>Part-10: CLOSING BALANCE  </h4>
            </th>
        </tr>


    </thead>
    <tbody class="Returntd">


        <tr class="Returntdhead">
            <td class="Returntdhead"> Items</td>
            <td>Note</td>

            <td>Amount</td>

            <td></td>

        </tr>
   
    </tbody>

</table>
