<head>
       <style>
           div.footer {
               position: fixed;
               display: block !important;
               bottom: 0px;
               width: 100%;
               border-top: 1px solid #eee; 
               height: 30px;
           }
       </style>
   </head> 
<div id="pageFooter" class="footer">
<div class="d-inline text-left">
    Print Date: @StringGenerator.DateTimeToString(DateTime.Now)
</div>
</div>