@model vms.entity.StoredProcedureModel.MushakReturn.MushakReturnPartOne


<table class="table table-bordered">
  

        <tr>

            <th class="Returntdhead" colspan="3" style="background-color: #FBD4B4!important">

                <div class="parthead">Part-12: DECLARATION</div>

            </th>

        </tr>


 


        <tr style="background-color: #FBD4B4!important">
            <td colspan="3"> I hereby declare that all information provided in this Return Form are complete, true & accurate.In case of any untrue/incomplete statement.I may be subjected to penal action under the Value Added Tax and Supplementary Duty Act,2012 or any other applicable Act prevailing at present</td>



        </tr>



        <tr>

            <td style="width:300px;"> Name</td>
            <td class="border-end">@Model.VatResponsiblePersonName</td>
            <td rowspan="6" style="width:300px;"></td>
        </tr>



        <tr>

            <td> Designation</td>
            <td class="border-end">@Model.VatResponsiblePersonDesignation</td>
        </tr>

        <tr>

            <td> Date</td>
            <td class="border-end"></td>

        </tr>
        <tr>

            <td> Mobile No.</td>
            <td class="border-end">@Model.VatResponsiblePersonMobileNo</td>


        </tr>
        <tr>

            <td> Email</td>
            <td class="border-end">@Model.VatResponsiblePersonEmailAddress</td>

        </tr>
        <tr>
            <td>Signature [Not required for electronic Submission]</td>
            <td class="border-end"></td>
        </tr>


        <tr>
        </tr>
   
</table>
