@model IEnumerable<vms.entity.models.CustomerSubscriptionCategory>

@{
	ViewData["Title"] = "Customer Subscription Categories";
	var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

@section contentheader
{
	<div class="p-2 page-header d-flex">
		<div class="flex-grow-1">
			@ViewData["Title"]
		</div>
		<div class="d-flex justify-content-start">

			@* @if (UserAuthorization.Check(FeatureList.ADMINSTRATION_PRODUCT_CATEGORY_CAN_ADD, session.Rights))
			{ *@
				<div class="pr-1">
				<a href="@Url.Action("Create", "CustomerSubscriptionCategory")" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i> Add Customer Subscription Category</a>
				</div>
			@* } *@

		</div>
	</div>
}

<scrollable-grid-container>
	<partial name="_index" model="Model" />
</scrollable-grid-container>