@model vms.entity.viewModels.vmDistrictOrCity

@{
    ViewData["Title"] = "Edit District";

}
@section contentheader
    {
    <div class="p-3 page-header">
        Edit District
    </div>
}


<div class="row">
    <div class="col-md-4 offset-4">
        <form method="post" class="form-horizontal" id="frmusercreate">
            <input type="hidden" asp-for="DistrictOrCityId" />
            <input type="hidden" asp-for="EncryptedId" />
            <div class="form-body">
                <div class="form-group">
                    <label  asp-for="DivisionOrStateId"></label>
                    <div>
                        <select asp-for="DivisionOrStateId" asp-items="Model.DivisionList.CustomSelectListToSelectList()" >
                            <option value="@null">Select Division</option>
                        </select>
                        <span asp-validation-for="DivisionOrStateId" ></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label  asp-for="DistrictOrCityName"></label>
                    <div>
                        <input asp-for="DistrictOrCityName"  />
                        <span asp-validation-for="DistrictOrCityName" ></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label  asp-for="DistrictOrCityShortName"></label>
                    <div>
                        <input asp-for="DistrictOrCityShortName"  />
                        <span asp-validation-for="DistrictOrCityShortName" ></span>
                    </div>
                </div>

            </div>

            <div class="float-end mt-3">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Update</button>
                <button type="button" value="Reset" onclick="location.reload();" class="btn  btn-warning btn-sm"><i class="bi bi-arrow-repeat"></i> Reset</button>
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
            </div>


        </form>
    </div>
</div>

