
<br /><br /><br />
<div class="row">
    <div class="col-lg-12">

        
        <div class="col-lg-12">
            <div class="portlet box panel panel-default">


                <div class="portlet-body">
                    <h4> <b>Alif Enterprise</b></h4>
                    <table id="accountingPeriodTable" class="table table-striped table-bordered table-hover" cellspacing="0">
                        <thead>
                            <tr class="datatable-heading" role="row">
                                <th>No Address Available</th>
                                <th>No Contract Available</th>
                                <th>Balance (BDT)</th>
                                <th>Supervisor <i class="bi bi-pencil-square"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="datatable-heading" role="row">
                                <td></td>
                                <td></td>
                                <td>(968,009.70)</td>
                                <td></td>
                            </tr>



                        </tbody>
                    </table>

                    


                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Details</a></li>
                        <li><a href="#">Voucher</a></li>
                        <li><a href="#">Sale Order</a></li>
                        <li><a href="#">Ledger</a></li>
                        <li><a href="#">Attachment</a></li>
                        <li><a href="#">Chaqe</a></li>
                        <li><a href="#">Transactions</a></li>
                    </ul>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="col-lg-4">


                                <h4> <b>Basic Information : </b></h4>
                            </div>

                            <div class="col-lg-1">
                                <div class=" btn default blue-stripe btn-sm btn btn-small ">
                                    <a>
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="col-lg-2">



                                <div class="portlet box panel panel-default">
                                    <div class="portlet-body">
                                        <table>
                                            <tbody>


                                                <tr>

                                                    <td>


                                                        <img src="~/assets/global/img/dummypic.png" alt="Smiley face" class="w-100">


                                                    </td>

                                                </tr>

                                                <tr>

                                                    <td>



                                                        <button class="pull-right " title="Change">
                                                            <i class="bi bi-pencil-square"></i>
                                                        </button>

                                                    </td>

                                                </tr>

                                            </tbody>



                                        </table>







                                    </div>
                                </div>


                            </div>


                            <div class="col-lg-5">


                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Full Name</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Print As :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Father's Name :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Code :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Pin Number :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Founded On :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Catagory :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Credit Limit :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Credit Days :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>





                            </div>



                            <div class="col-lg-5">
                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Reg. No. :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">VAT Reg :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">URL :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Phone :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Alt Phone :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Mobile :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">ALT Mobile :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>
                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Fax :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Email :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                                <div class="form-group form-md-line-input has-success">
                                    <label for="form_control_1">Description :</label>
                                    <input type="text" class="form-control" id="form_control_1" placeholder="">
                                    <div class="form-control-focus"> </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-lg-8">

                            <div class="col-lg-4">


                                <h4> <b>Addresses : </b></h4>
                            </div>

                            <div class="col-lg-1">
                                <div class=" btn default green-dark-stripe btn-sm btn btn-small ">
                                    <a>
                                        Show Apps
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <hr />

                    No  Address Available...

                    <div class="row">
                        <div class="col-lg-8">

                            <div class="col-lg-5">


                                <h4> <b>Account Information : </b></h4>
                            </div>

                            <div class="col-lg-1">
                                <div class=" btn default blue-stripe btn-sm btn btn-small ">
                                    <a>
                                        <i class="bi bi-plus-lg"></i> Edit
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                    <hr />

                    No  Account Available...

                </div>
            </div>
        </div>
    </div>
</div>

