@*@model vms.entity.viewModels.CustomerViewModel.CustomerLocalCreateViewModel*@

<div class="accordion mt-3" id="documentAccordionFomr">
	<div class="accordion-item">
		<div class="accordion-header" id="headingDocumentAccordion">
			<button class="accordion-button collapsed vms-accordion-button"
			        type="button"
			        data-bs-toggle="collapse"
			        data-bs-target="#documentAccordion"
			        aria-expanded="false"
			        aria-controls="documentAccordion">
				Document Information
			</button>
		</div>
		<div id="documentAccordion"
		     class="accordion-collapse collapse"
		     aria-labelledby="headingDocumentAccordion"
		     data-bs-parent="#accordionForm">
			<div class="accordion-body">
				@*<form id="frmDocument">*@
					<table class="table table-bordered form-table" id="docTable">
						<thead>
						<tr>

							<th>Type</th>
							<th>File</th>
							<th>Document Remarks</th>
							<th class="single-button-action-column"></th>
						</tr>

						<tr>

							<td>
								<select name="DocumentType" class="searchable-dropdown DocumentType" data-live-search="true" data-style="bootstrap-select-option" id="DocumentType">
									<option value="@null">Select Document Type</option>
									<option value="1">BIN</option>
									<option value="2">NID</option>
									<option value="3">TIN</option>
									<option value="4">Trade License</option>
								</select>
								@*<span asp-validation-for="DocumentType" class="text-danger"></span>*@
							</td>
							<td>
								<input type="file" name="FileUpload" id="FileUpload" multiple="multiple" class="form-control form-control-sm FileUpload" accept=".jpg,.jpeg,.png,.tif,.tiff,.gif,.bmp,.pdf,.doc,.docx,.xlsx,.xlx,.ppt,.pptx"/>

								<small id="msgFileDocument" class="form-text text-danger"></small>
								@*<span asp-validation-for="FileUpload" class="text-danger"></span>*@
							</td>
							<td>
								<input type="text" name="DocumentRemarks" id="DocumentRemarks" />
								@*<span asp-validation-for="DocumentRemarks" class="text-danger"></span>*@
							</td>
							<td>
								<a id="btnAddDocument" class="btn btn-sm btn-success" aria-label="Left Align">
									<i class="bi bi-plus-lg"></i>
								</a>
							</td>
						</tr>
						</thead>
						<tbody id="docTableBody"></tbody>
						<tfoot>

						</tfoot>
					</table>
				@*</form>*@
			</div>
		</div>
	</div>
</div>