@{
	ViewData["Title"] = "Mushak";
	Layout = "_LayoutMushak";
}

@section contentheader
{
	<div class="p-2 mb-auto pl-2rem ">
		<h5>Mushaks</h5>
	</div>
}

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakFourPointThree"
		   class="btn btn-card btn-outline-primary btn-card mt-2 mb-2 align-center">
			Mushak- 4.3
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakFourPointFourList"
		   class="btn btn-card btn-outline-secondary btn-card mt-2 mb-2 align-center">
			Mushak- 4.4
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakFourPointFiveList"
		   class="btn btn-card btn-outline-success btn-card mt-2 mb-2 align-center">
			Mushak- 4.5
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointOneNew"
		   class="btn btn-card btn-outline-danger btn-card mt-2 mb-2 align-center">
			Mushak- 6.1 (Purchase Book)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointTwoNew"
		   class="btn btn-card btn-outline-warning btn-card mt-2 mb-2 align-center">
			Mushak- 6.2 (Sales Book)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointTwoPointOneNew"
		   class="btn btn-card btn-outline-info btn-card mt-2 mb-2 align-center">
			Mushak- 6.2.1 (Sales & Purchase Book)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointThreeList"
		   class="btn btn-card btn-outline-dark btn-card mt-2 mb-2 align-center">
			Mushak- 6.3 (VAT Challan)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointFiveList"
		   class="btn btn-card btn-outline-primary btn-card mt-2 mb-2 align-center">
			Mushak- 6.5 (Branch Transfer Challan)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointSixList"
		   class="btn btn-card btn-outline-secondary btn-card mt-2 mb-2 align-center">
			Mushak- 6.6 (VDS Certificate)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="TdsCertificateList"
		   class="btn btn-card btn-outline-success btn-card mt-2 mb-2 align-center">
			TDS Certificate
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Sales" asp-action="CreditNoteView"
		   class="btn btn-card btn-outline-danger btn-card mt-2 mb-2 align-center">
			Mushak- 6.7 (Credit Note for Sales Return)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointSevenForSalesPriceReduceList"
		   class="btn btn-card btn-outline-warning btn-card mt-2 mb-2 align-center">
			Mushak- 6.7 (Credit Note for Sales Price Reduce)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Purchase" asp-action="DebitNoteView"
		   class="btn btn-card btn-outline-info btn-card mt-2 mb-2 align-center">
			Mushak- 6.8 (Debit Note for Purchase Return)
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Mushak" asp-action="MushakSixPointTen"
		   class="btn btn-card btn-outline-dark btn-card mt-2 mb-2 align-center">
			Mushak- 6.10
		</a>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<a asp-controller="Reports" asp-action="Mushok9P1"
		   class="btn btn-card btn-outline-primary btn-card mt-2 mb-2 align-center">
			Mushak- 9.1
		</a>
	</div>
</div>