@model IEnumerable<vms.entity.models.Damage>
@{
	Layout = "_LayoutMushak";
	ViewData["Title"] = "Mushak - 4.5 (Accidental Damage List)";

}

@section contentheader
{
	<div class="p-3 page-header">
		@ViewData["Title"]
	</div>
}

<div class="gray-slim-scroll-container">
	<div class="table-scroll-container">
		@(Html.Grid(Model).Build(columns =>
		{
			columns.Add(model => model.VoucherNo).Titled("Voucher No");
			columns.Add(model => model.Description).Titled("Description");
			columns.Add(model => model.PreparedOn).Titled("Prepared On");
				columns.Add().Encoded(false).RenderedAs(data => Html.PartialAsync("LinkPartial/_MushakFourPointFiveListActionMenu", data).Result)
				.Titled(Html.Raw("<i class='bi bi-activity'></i>")).AppendCss("action-col-freez");
		})
			.AppendCss("large-index-grid")
			.Empty("No data found")
			.Filterable(GridFilterType.Double)
			.Sortable()
			.Pageable())
	</div>
</div>