@model vms.entity.models.MushakSubmission 
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">



            @if (UserAuthorization.Check(FeatureList.MUSHAK_RETURN_MUSHAK_SUBMISSIONS_9_1_UPLOAD, session.Rights))
            {
                <li>
                    <a class="dropdown-item" asp-action="MushakUpload" asp-route-id="@Model.MushakSubmissionId"><i class="bi bi-pencil-square"></i> 9.1 Upload</a>
                </li>
            }
            @*}*@
        </ul>
    </div>
</div>