@model vms.entity.models.Sale
<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">
            <li>
                <a class="dropdown-item" asp-action="MushakSixPointThree" asp-route-id="@Model.EncryptedId" asp-route-language="0" target="_blank">Bangla</a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="MushakSixPointThree" asp-route-id="@Model.EncryptedId" asp-route-language="1" target="_blank">English</a>
            </li>
            @* <li> *@
            @*     <a class="dropdown-item" asp-action="MushakSixPointThreeRdlc" asp-route-id="@Model.EncryptedId" asp-route-language="1" target="_blank">View Report</a> *@
            @* </li> *@
        </ul>
    </div>
</div>