@model vms.entity.models.Purchase
<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">
			<li>
				<a class="dropdown-item" asp-action="TdsCertificate" asp-route-id="@Model.EncryptedId" asp-route-language="1" target="_blank">View Certificate</a>
			</li>
			<li>
				<a class="dropdown-item" asp-action="ViewAndSendEmailTdsCertificate" asp-route-id="@Model.EncryptedId" asp-route-language="1" target="_blank">View & Email Certificate</a>
			</li>
		</ul>
	</div>
</div>