@model vms.entity.viewModels.ReportsViewModel.VmMushakReturn


<div class="w-100 mushak-return-bangla">
    <div class="w-1-6-row">
        <img src="/images/logo_bd_govt.svg" height="80px" width="80px" />
    </div>
    <div class="w-4-6-row report-header">
        <div class="mushak-return-company-other-info">GOVERNMENT OF THE PEOPLE'S REPUBLIC OF BANGLADESH</div>
        <div class="mushak-return-company-name">NATIONAL BOARD OF REVENUE</div>
        <div class="mushak-return-company-name">VALUE ADDED TAX RETURN FORM</div>
        <div class="mushak-return-sub-header">[See rule 47(1)]</div>
    </div>
    <div class="w-1-6-row">
        <div class="mushak-return-name text-center">Mushak- 9.1</div>
    </div>
    <br />
    <div class="w-100">
        <partial name="MushakReturnEng/_part1" model="Model.MushakReturnPartOne" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part2" model="Model.MushakReturnPartTwo" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part3" model="Model.MushakReturnPartThree" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part4" model="Model.MushakReturnPartFour" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part5" model="Model.MushakReturnPartFive" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part6" model="Model.MushakReturnPartSix" />
    </div>

    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part7" model="Model.MushakReturnPartSeven" />
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part8" model="Model.MushakReturnPartEight" />
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part9" model="Model.MushakReturnPartNineList" />
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part10" model="Model.MushakReturnPartTen" />
    </div>
    <div class="w-100 mt-2">
        <div class="col-12">
            <partial name="MushakReturnEng/_part11" model="Model.MushakReturnPartEleven" />
        </div>
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_part12" model="Model.MushakReturnPartOne" />
    </div>
    <div class="ivat-page-break"></div>
    <div class="w-100 mt-2">
        @{
            if (Model.MushakReturnSubFormKaList.Any())
            {
                var sfKas = Model.MushakReturnSubFormKaList.Select(sfk => sfk.SubFormNameEng).Distinct();

                foreach (var sfka in sfKas)
                {
                    <div id="subFormKa" style="font-weight:bold !important"><div class="parthead">@sfka</div></div>
                    <partial name="MushakReturnEng/_ka" model="Model.MushakReturnSubFormKaList.Where(sfk => sfk.SubFormNameEng == sfka)" />
                }
            }
            else
            {
                <div id="subFormKa" style="font-weight:bold !important"><div class="parthead">Subform- k (For Note 1, 2, 3, 4, 5, 7, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22)</div></div>
                <partial name="MushakReturnEng/_ka" model="Model.MushakReturnSubFormKaList" />
            }
            
        }
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_kha" model="Model.MushakReturnSubFormKhaList" />
    </div>

    <div class="w-100 mt-2" id="subFormGa">
        @{
            if (Model.MushakReturnSubFormGaList.Any())
            {
                var sfKas3 = Model.MushakReturnSubFormGaList.Select(sfk => sfk.SubFormNameEng).Distinct();

                foreach (var sfka3 in sfKas3)
                {
                    <div id=""><div class="parthead">@sfka3</div></div>
                    <partial name="MushakReturnEng/_ga" model="Model.MushakReturnSubFormGaList.Where(ga => ga.SubFormNameEng == sfka3)" />
                }
            }
            else
            {
                <div id=""><div class="parthead">Subform- g (For Note 6, 18)</div></div>
                <partial name="MushakReturnEng/_ga" model="Model.MushakReturnSubFormGaList" />
            }
             }
    </div>
    @* <div class="ivat-page-break"></div> *@
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_gha" model="Model.MushakReturnSubFormGhaList" />
    </div>
    @* <div class="ivat-page-break"></div> *@
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_ungho" model="Model.MushakReturnSubFormUmaList" />
    </div>
    <div class="w-100 mt-2">
        <partial name="MushakReturnEng/_ca" model="Model.MushakReturnSubFormChaList" />
    </div>
    <div class="w-100 mt-2">
        @{
            if (Model.MushakReturnSubFormChhaList.Any())
            {
                var chaaList = Model.MushakReturnSubFormChhaList.Select(sfk => sfk.SubFormNameEng).Distinct();

                foreach (var subFrmName in chaaList)
                {

                    <div class="parthead" id="">@subFrmName</div>
                    <partial name="MushakReturnEng/_cha" model="Model.MushakReturnSubFormChhaList.Where(chh => chh.SubFormNameEng == subFrmName)" />

                }
            }
            else
            {
    <div class="parthead" id="">Subform- ch (For Note 52, 53, 54, 55, 56, 57, 58, 59, 60, 61)</div>
                <partial name="MushakReturnEng/_cha" model="Model.MushakReturnSubFormChhaList" />
            }
            
        }
    </div>
</div>