@model vms.entity.models.Sale
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
    <div class="dropdown">
        <a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
            <i class="text-dark bi bi-three-dots-vertical"></i>
        </a>
        <ul class=" dropdown-menu dropdown-menu-right">

            <li>
                <a class="dropdown-item" asp-action="Mushok6P3ById" asp-route-id="@Model.SalesId" asp-route-language="0" target="_blank">Bangla</a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="Mushok6P3ById" asp-route-id="@Model.SalesId" asp-route-language="1" target="_blank">English</a>
            </li>
        </ul>
    </div>
</div>