@model vms.entity.viewModels.ReportsViewModel.ReoportOption

<h1 class="custom-page-title">Mushak-11-Purchase</h1>
<partial name="_ReportSearchOption" />
@if (Model != null)
{
    <iframe src="~/Reports/mushak11purchase.pdf" style="width: 100%; min-height: 1000px"></iframe>
}