@section breadcrumb
    {
<ul class="page-breadcrumb">
    <li>
        <a href="@Url.Action("Dashboard", "Home")">Root</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action("Mushok1","Reports")">Reports</a>

        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action("Mushok18","Reports")">Mushak-18</a>
    </li>
</ul>
}
<table>
    <tbody>
        <tr>
            <td class="text-right">মূসক-১৮</td>
        </tr>
        <tr>
            <td class="text-center">
                গণপ্রজাতন্ত্রী বাংলাদেশ সরকার <br />
                জাতীয় রাজস্ব বোর্ড <br />
                ঢাকা <br />
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>

                <table class="table table-bordered small">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">2018-12-01</td>
                            <td class="text-center">Opening Balance</td>
                            <td class="text-center"></td>
                            <td class="text-center">2018-12-01</td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">0.00</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">2018-12-01</td>
                            <td class="text-center">Purchase</td>
                            <td class="text-center">PO-1001</td>
                            <td class="text-center">2018-12-01</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">80,935.50</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">80,935.50</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-center">2018-12-05</td>
                            <td class="text-center">Purchase</td>
                            <td class="text-center">PO-1002</td>
                            <td class="text-center">2018-12-05</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">15,437.10</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">-96,372.60</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-center">2018-12-15</td>
                            <td class="text-center">Purchase</td>
                            <td class="text-center">PO-1003</td>
                            <td class="text-center">2018-12-15</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">4,187.10</td>
                            <td class="text-right">0.00</td>
                            <td class="text-right">-100,559.70</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>