@model vms.entity.viewModels.ReportsViewModel.ReoportOption
@{
    Layout = "_LayoutMushak";

}
@section contentheader
    {
    <div class="p-3 page-header">
        <h5>Mushak-6.10</h5>
        <div class="d-flex justify-content-start">
        </div>
    </div>
    <div class="col-12 d-flex">
        <ul class="nav nav-pills mt-3 mr-auto align-bottom">
        </ul>
    </div>
}


<partial name="_ReportSearchOption" />
@if (Model != null)
{
    <iframe src="~/Reports/Mushak_6.10_.pdf" style="width: 100%; min-height: 1000px"></iframe>
}