@model vms.entity.viewModels.VmPriceSetupReportParam
@{
    Layout = "_LayoutReport";
    ViewData["Title"] = "Mushak- 4.3 Report";
}

@section contentheader
    {
    <div class="p-3 page-header">
        <h5>Mushak-4.3</h5>

        <form method="post">
            <div class="row">
                <div class="col-3">
                    <label asp-for="PriceDeclarId" class="form-label"> </label>
                    <select asp-for="PriceDeclarId" asp-items="Model.PriceSetupList" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
                        <option value="@null">Select</option>
                    </select>
                    <span asp-validation-for="PriceDeclarId" class="invalid-feedback"></span>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success inline-sm-button"><i class="bi bi-file-text"></i> View</button>
                        <button type="button" id="btnPrint" class="btn btn-sm btn-primary inline-sm-button"><i class="bi bi-printer-fill"></i> Print</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<div class="report-section w-100">
    <div id="printableArea" class="report-margin w-100" >

        @if (Model.OrgId != 0)
        {
                <partial name="_MushakFourPointThreeReportPart" model="Model" />
        }
    </div>
</div>


@section scripts{
    <script>
                $("#btnPrint").click(function () {
                    window.vmsPrint.printA4Landscape('printableArea');
                });

    </script>
}