@model IEnumerable<vms.entity.models.Purchase>
@{
    Layout = "_LayoutMushak";
    ViewData["Title"] = "Mushak-6.6";
}

@section contentheader
    {
    <div class="p-3 page-header">
        Mushak-6.6 (Purchase VDS Invoice List)
    </div>
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(model => model.PurchaseSlNo).Titled("Serial");
    columns.Add(model => model.InvoiceNo).Titled("Invoice");
    columns.Add(model => model.Vendor.Name).Titled("Vendor Name");
    columns.Add().Encoded(false).RenderedAs(data =>$"<a class='btn btn-primary btn-sm' href='{Url.Action("Mushok6P6ById")}/{data.PurchaseId}' role='button' target='_blank'> View</a>" );
})
    .Using(GridFilterMode.Excel)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable())