@model vms.entity.viewModels.ReportsViewModel.ReoportOption
@section breadcrumb
    {
<ul class="page-breadcrumb">
    <li>
        <a href="@Url.Action("Dashboard", "Home")">Root</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action("Mushok1","Reports")">Reports</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="@Url.Action("Mushok19","Reports")">Mushak-19</a> <span></span>
    </li>
</ul>
}
<h1 class="custom-page-title">Mushak-19</h1>
<partial name="_ReportSearchOption" />
@if (Model != null)
{
    <iframe src="~/Reports/mushak19.pdf" style="width: 100%; min-height: 1000px"></iframe>
}