@model vms.entity.viewModels.CustomerViewModel.CustomerLocalCreateViewModel
<div class="accordion mb-3" id="accordionForm">
    <div class="accordion-item">
        <div class="accordion-header" id="headingOtherInformation">
            <button class="accordion-button collapsed vms-accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#otherInformation"
                    aria-expanded="false"
                    aria-controls="otherInformation">
                Others Information
            </button>
        </div>
        <div id="otherInformation"
             class="accordion-collapse collapse"
             aria-labelledby="headingOtherInformation"
             data-bs-parent="#accordionForm">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="ReferenceKey"></label>
                            <div>
                                <input asp-for="ReferenceKey">
                                <span asp-validation-for="ReferenceKey"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="CustomsAndVatcommissionarateId"></label>
                            <select asp-for="CustomsAndVatcommissionarateId" asp-items="Model.CustomsAndVatCommissionarates.CustomSelectListToSelectList()">
                                <option value="@null">Select Commission</option>
                            </select>
                            <span asp-validation-for="CustomsAndVatcommissionarateId"></span>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="ServiceVatCode"></label>
                            <div>
                                <input asp-for="ServiceVatCode">
                                <span asp-validation-for="ServiceVatCode"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="BusinessNatureId"></label>
                            <select asp-for="BusinessNatureId" asp-items="Model.BusinessNatureList.CustomSelectListToSelectList()">
                                <option value="@null">Select Business Nature</option>
                            </select>
                            <span asp-validation-for="BusinessNatureId"></span>
                        </div>

                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="BusinessCategoryId"></label>
                            <select asp-for="BusinessCategoryId" asp-items="Model.BusinessCategoryList.CustomSelectListToSelectList()">
                                <option value="@null">Select Business Category</option>
                            </select>
                            <span asp-validation-for="BusinessCategoryId"></span>
                        </div>

                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="BusinessCategoryDescription"></label>
                            <div>
                                <input asp-for="BusinessCategoryDescription" />
                                <span asp-validation-for="BusinessCategoryDescription"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="CreditLimit"></label>
                            <input asp-for="CreditLimit" />
                            <span asp-validation-for="CreditLimit"></span>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="CreditPeriodInDay"></label>
                            <input asp-for="CreditPeriodInDay" />
                            <span asp-validation-for="CreditPeriodInDay"></span>
                        </div>
                    </div>


                    <div class="col-6">
                        <div class="form-group mb-3 form-group-checkbox">
                            <div class="form-check form-switch">
                                <input type="checkbox" asp-for="IsVds" class="form-check-input">
                                <label asp-for="IsVds" class="form-check-label"></label>
                                <span asp-validation-for="IsVds"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="Vdsrate"></label>
                            <div>
                                <input asp-for="Vdsrate" readonly="readonly" />
                                <span asp-validation-for="Vdsrate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3 form-group-checkbox">
                            <div class="form-check form-switch">
                                <input type="checkbox" asp-for="IsTds" class="form-check-input">
                                <label asp-for="IsTds" class="form-check-label"></label>
                                <span asp-validation-for="IsTds"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="Tdsrate"></label>
                            <div>
                                <input asp-for="Tdsrate" readonly="readonly" />
                                <span asp-validation-for="Tdsrate"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group mb-3 form-group-checkbox">
                            <div class="form-check form-switch">
                                <input type="checkbox" asp-for="IsRegisteredUnderActNinetyFour" class="form-check-input">
                                <label asp-for="IsRegisteredUnderActNinetyFour" class="form-check-label"></label>
                                <span asp-validation-for="IsRegisteredUnderActNinetyFour"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group mb-3">
                            <label asp-for="RegistrationNumberUnderActNinetyFour"></label>
                            <div>
                                <input asp-for="RegistrationNumberUnderActNinetyFour" readonly="readonly" />
                                <span asp-validation-for="RegistrationNumberUnderActNinetyFour"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>