@model IEnumerable<vms.entity.models.ViewProductionReceive>
@{
	var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}
@{
	ViewData["Title"] = "Production";

}

@section contentheader
{
	<div class="p-2 page-header d-flex">
		<div class="flex-grow-1">
			@ViewData["Title"]
		</div>
		<div class="d-flex justify-content-start">
			@if (UserAuthorization.Check(FeatureList.PRODUCTION_PRODUCTION_LIST_CAN_ADD, session.Rights))
			{
				<div class="me-1">
					<a href="@Url.Action("SelfProduction", "Production")" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i> Add Production</a>
				</div>
			}
		</div>
	</div>
}

<scrollable-grid-container>
	<partial name="_Index" model="Model" />
</scrollable-grid-container>