@{
    ViewData["Title"] = "Index";
}

<div class="custom-page-title">
    New Production Order
</div>

<div class="form-actions noborder centered">
    Enter Information
</div>
<div class="col-md-12 ">
    <div class="row">

        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <select class="form-control" id="form_control_1">

                    <option value="1">RWO-1002</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
                <label for="form_control_1">Work Order >></label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <select class="form-control" id="form_control_1">

                    <option value="1">--Select One--</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
                <label for="form_control_1">Manager >></label>
            </div>
        </div>
     
        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Entry Date</label>

            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Schedule Date</label>

            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Start Date</label>

            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">End Date</label>

            </div>
        </div>

    </div>

</div>







<div class="col-md-12 ">
    <div class="row">
        <div class="col-md-2 ">

            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Importer</label>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Address</label>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Entry Date</label>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Schedule Date</label>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">Start Date</label>

            </div>
        </div>

        <div class="col-md-2 ">
            <div class="form-group form-md-line-input has-info">
                <input type="text" class="form-control" id="form_control_1" placeholder="2018-12-17">
                <label for="form_control_1">End Date</label>

            </div>
        </div>

    </div>

</div>


<h3>Product</h3>


<fieldset>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Item</th>
                <th>Product</th>
                <th>Quentity</th>
                <th>Unit</th>
                <th>Unit Price</th>
                <th>VAT(%)</th>
                <th>VAT Value</th>
                <th>Total Tax</th>
                <th>Total</th>

            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>Raw Materials</td>
                <td>Cover</td>
                <td>280</td>
                <td></td>
                <td>50.00</td>
                <td>15.00</td>
                <td>2100.00</td>
                <td>2100</td>
                <td>14000.00</td>

            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>Raw Materials</td>
                <td>Safety Value with nut</td>
                <td>280</td>
                <td></td>
                <td>10.00</td>
                <td>15.00</td>
                <td>420.00</td>
                <td>420.00</td>
                <td>2800.00</td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>Raw Materials</td>
                <td>Sticker</td>
                <td>280</td>
                <td></td>
                <td>10.00</td>
                <td>15.00</td>
                <td>420.00</td>
                <td>420.00</td>
                <td>2800.00</td>
            </tr>
            <tr>
                <td>
                    +
                </td>
                <td>-</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
</fieldset>



<div class="">
    <button type="button" class="btn blue">Submit</button>
</div>