
@{
    ViewData["Title"] = "MaterialConsume";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="custom-page-title">Section Delivery</h2>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Section</label>
            <select class="form-control" id="form_control_1">
                <option value="Production" selected>Production</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Pro. Order</label>
            <select class="form-control" id="form_control_1">
                <option value="PRD_1002" selected>PRD_1002</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>


    </div>

    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Prod.Type</label>
            <select class="form-control" id="form_control_1">
                <option value="Bulk" selected>Inventory</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Issue Date</label>
            <input type="date" class="form-control" id="form_control_1">
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Receve Date</label>
            <input type="date" class="form-control" id="form_control_1">
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group form-md-line-input has-success">
            <label for="form_control_1">Consumption</label>
            <select class="form-control" id="form_control_1">
                <option value="Bulk" selected>MRP-123pk</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
            <div class="form-control-focus"> </div>
        </div>
    </div>
</div>
OUTPUT PRODUCT:
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="container containerwidth">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Iteam</th>
                        <th>Name</th>

                        <th>Quantity</th>
                        <th>Unit</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1">1</td>
                        <td>
                            <select class="form-control" id="form_control_1">
                                <option value="Raw Materials" selected>Raw Materials</option>
                                <option value="Source Tax">Source Tax</option>
                                <option value="Perry Cash">Perry Cash</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" id="form_control_1">
                                <option value="Circle/Body 3.5" selected>Circle/Body 3.5</option>
                                <option value="Body Handle">Body Handle</option>
                                <option value="Cover">Cover</option>
                                <option value="Packing Box">Packing Box</option>
                                <option value="Option 4">Option 4</option>
                            </select>
                        </td>

                        <td>10.0</td>

                        <td>Unit</td>

                    </tr>

                    <tr>
                        <td><b> +</b></td>
                        <td><b> -</b></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        Description:
    </div>

    <div class="col-md-12">


        <textarea rows="6" cols="100">
             </textarea>

    </div>
</div>

<button class="btn btn blue ">
    <i class="bi bi-save"></i>
    SUBMIT
</button>

