@model vms.entity.models.Organization
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
    <div class="dropdown">
	    <a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
		    <i class="text-dark bi bi-three-dots-vertical"></i>
	    </a>
        <ul class=" dropdown-menu dropdown-menu-end">
            @if (UserAuthorization.Check(FeatureList.ADMINSTRATION_COMPANY_BASIC_INFO_CAN_EDIT, session.Rights))
            {
                <li>
                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.EncryptedId">Edit</a>
                </li>
            }
            @if (UserAuthorization.Check(FeatureList.ADMINSTRATION_COMPANY_BASIC_INFO_CAN_ADD_BRANCH, session.Rights))
            {
                <li>
                    <a class="dropdown-item" asp-action="AddBranch" asp-route-id="@Model.EncryptedId"><i class="bi bi-plus-lg"></i> Add Branch</a>
                </li>
            }
            @if (UserAuthorization.Check(FeatureList.ADMINSTRATION_COMPANY_BASIC_INFO_CAN_VIEW, session.Rights))
            {
                <li>
                    <a class="dropdown-item" asp-action="Details" asp-route-id="@Model.EncryptedId"><i class="bi bi-info-circle"></i> Details</a>
                </li>
            }
            
        </ul>
    </div>
</div>