@model vms.entity.models.DebitNote
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-primary btn-sm" data-bs-toggle="dropdown" data-close-others="true">
            Report
        </a>
        <ul class=" dropdown-menu dropdown-menu-right">

            <li>
                <a class="dropdown-item" asp-controller="Reports" asp-action="Mushok6P8" asp-route-id="@Model.DebitNoteId" asp-route-language="0" target="_blank">Bangla</a>
            </li>
            @*<li>
                <a class="dropdown-item" asp-action="DebitNoteViewById" asp-route-id="@Model.DebitNoteId" asp-route-language="1" target="_blank">English</a>
            </li>*@
        </ul>
    </div>
</div>