<h1 class="custom-page-title">Purchase Order Accounts View</h1>

<ul class="nav nav-tabs">
    <li><a href="#">Details</a></li>
    <li><a href="#">Deliveries</a></li>
    <li><a href="#">Vouchers</a></li>
    <li class="active"><a href="#">Accountant View</a></li>
    <li><a href="#">Purchase Cancellation</a></li>
    <li><a href="#">Attachments</a></li>
</ul>

<div class="row">
    <div class="col-md-offset-2 col-md-8">

        <table class="table table-bordered small">
            <tbody>
                <tr>
                    <td>
                        <u>Voucher Information</u><br />
                        <span>2018-12-17</span> <br />
                        <span>PO-00012</span> <br />
                        <span>Alif Enterprise</span> <br />
                        <span>Created at: 2018-12-17</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Ledgers
                        <!--Table-->

                        <table class="table table-bordered small">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Account Name</th>
                                    <th>Debit</th>
                                    <th></th>
                                    <th>Credit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Goods Receivable</td>
                                    <td class="text-right">30,100.00</td>
                                    <td>BDT</td>
                                    <td class="text-right"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>VAT Payable Purchase</td>
                                    <td class="text-right">4,515.00</td>
                                    <td>BDT</td>
                                    <td class="text-right"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Account Payable</td>
                                    <td class="text-right"></td>
                                    <td></td>
                                    <td class="text-right">34,615.00</td>
                                    <td>BDT</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>34,615.00</th>
                                    <th>BDT</th>
                                    <th>34,615.00</th>
                                    <th>BDT</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!--Table End-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>