@model vms.entity.viewModels.CustomerViewModel.CustomerForeignCreateViewModel
@{
	ViewData["Title"] = "Create Foreign Customer";

}

@section contentheader
{
	<div class="p-3 page-header">
		@ViewData["Title"]
	</div>
}

<div class="row">
	<div class="col-md-8 offset-2">

		<form asp-action="Create" class="form-horizontal" id="frmCreate">
			<div class="form-body">
				<partial name="_CreateForeignBasicInformation" model="Model"/>
				<partial name="_CreateForeignBankInformation" model="Model"/>
				<partial name="_CustomerDocument" model="Model"/>
				@* <partial name="_CreateForeignOtherInformation" model="Model"/> *@

			</div>
			
			<div class="form-body">
				@* <partial name="_CustomerLocalDocument" model="Model"/> *@
				<div class="row">
					<div class="col-12">
						<div class="float-end mt-3">
							<button type="submit" class="btn btn-primary btn-sm" id="btnSave"><i class="bi bi-check-lg"></i> Submit</button>
							<button type="button" value="Reset" onclick="location.reload();" class="btn  btn-warning btn-sm" id="btnReset"><i class="bi bi-arrow-repeat"></i> Reset</button>
							<a asp-controller="CustomerForeign" asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</form>


	</div>
</div>

@section Scripts{
@* 	<script src="~/CustomJs/Vendor.js?vguid=@ViewStaticData.StaticFileVersionGuid"></script> *@
}