@model vms.entity.models.DocumentType
@{
    ViewData["Title"] = "Edit";
    
    
}
@section contentheader
    {
    <div class="p-3 page-header">
        Edit Document Type
    </div>
}
<div class="row">
    <div class="col-md-4 offset-4">

        <form asp-action="Edit" class="form-horizontal" id="frmusercreate">
            <input type="hidden" asp-for="DocumentTypeId" />
            <div class="form-body">
                <div class="form-group required">
                    <label class="form-label">Name</label>
                    <div>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>

            </div>

            <div class="float-end mt-3">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Update</button>
                <button type="reset" value="Reset" class="btn  btn-warning btn-sm"><i class="bi bi-arrow-repeat"></i> Reset</button>
                <a asp-controller="DocumentTypes" asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>