@model vms.entity.models.ViewPurchaseLocal
@{ var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION); }

<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">
			@if (UserAuthorization.Check(FeatureList.PURCHASE_PURCHASE_LIST_CAN_ADD_DEBIT_NOTE, session.Rights))
			{
				<li>
					<a class="dropdown-item" asp-controller="PurchaseLocal" asp-action="DebitNote"
					   asp-route-id="@Model.EncryptedId"><i class="bi bi-arrow-return-left"></i> Add Debit Note</a>
				</li>
			}
			@*asp-route-id="@(VmsDataProtectionManager.EncryptInt(Model.PurchaseId))"*@
			@if (UserAuthorization.Check(FeatureList.PURCHASE_PURCHASE_LIST_CAN_ADD_DEBIT_NOTE, session.Rights))
			{
				<li>
					<a class="dropdown-item" asp-controller="PurchaseLocal" asp-action="Damage" asp-route-id="@Model.EncryptedId"><i class="bi bi-layout-wtf"></i> Add Damage</a>
				</li>
			}
			@if (UserAuthorization.Check(FeatureList.PURCHASE_PURCHASE_LIST_CAN_VIEW_DETAILS, session.Rights))
			{
				<li>
					<a class="dropdown-item" asp-controller="PurchaseLocal" asp-action="Details" asp-route-id="@Model.EncryptedId"><i class="bi bi-grid"></i> Details</a>
				</li>
			}

		</ul>
	</div>
</div>