<div class="col-md-12">
	<div id="notificationArea"></div>
	<div class="font-weight-bold mt-3">
		Product List
	</div>
	<table id="productTable" class="table table-bordered form-table">
		<thead>
		<tr>
			<th>Product</th>
			<th>SKU</th>
			<th>GOODS ID</th>
			<th>Stock</th>
			<th>M. Unit</th>
			<th>Price/Unit</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Price (-Disc)</th>
			<th>SD</th>
			<th>VAT-able Price</th>
			<th>VAT Type</th>
			<th>VAT</th>
			<th>Price (+SD+VAT)</th>
			<th>Price (+SD+VAT-Disc.)</th>
			<th>
				<i class='bi bi-activity'></i>
			</th>
		</tr>
		</thead>
		<tbody id="productTableBody">
		</tbody>
		<tfoot>
		<tr class="text-end">
			<th colspan="7">Total</th>
			<th id="productTotalPrice"></th>
			<th id="productTotalDiscount"></th>
			<th id="productTotalPriceAfterDiscount"></th>
			<th id="productTotalSd"></th>
			<th id="productTotalVatablePrice"></th>
			<th></th>
			<th id="productTotalVat"></th>
			<th id="productTotalPriceWithVat"></th>
			<th id="productTotalPriceWithVatAfterDiscount"></th>
			<th></th>
		</tr>
		</tfoot>
	</table>
</div>