@model IEnumerable<vms.entity.models.ViewCreditNote>
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}
@{
    ViewData["Title"] = "Mushak-6.7(Credit Note List)";
    Layout = "_LayoutMushak";
}

@section contentheader
    {
    <div class="p-3 page-header">
        @ViewData["Title"]
    </div>
}



@(Html.Grid(Model).Build(columns =>
{
    columns.Add(model => model.SalesInvoiceNo).Titled("Invoice No.");
    columns.Add(model => model.CreditNoteReturnDate).Titled("Return Date").Formatted("{0:dd/MM/yyyy}");
    columns.Add(model => model.ReasonOfReturn).Titled("Reason Of Return");
    columns.Add(model => model.CreditNoteChallanNo).Titled("Challan No.");
    columns.Add(model => model.SalesDate).Titled("Sales Date").Formatted("{0:dd/MM/yyyy}");
    columns.Add(model => model.CustomerName).Titled("Customer Name.");
    columns.Add(model => model.SalesTotalPriceWithoutVat)
        .Titled("Total Price Without VAT").AppendCss("text-right").RenderedAs(model => StringGenerator.DecimalToCommaSeparated(model.SalesTotalPriceWithoutVat));
    columns.Add().Encoded(false).RenderedAs(data => Html.PartialAsync("_CreditNoteViewActionMenu", data).Result)
                .Titled(Html.Raw("<i class='bi bi-activity'></i>")).AppendCss("action-col-freez");
   @* columns.Add().Encoded(false).RenderedAs(data =>$"<a class='btn btn-primary btn-sm' href='{Url.Action("Mushok6p7","Reports")}/{data.CreditNoteId}' role='button' target='_blank'> View</a>" );*@
})
    .AppendCss("large-index-grid")
    .Using(GridFilterMode.Excel)
    .Empty("No data found")
    .Filterable(GridFilterType.Double)
    .Sortable()
    .Pageable())


