@model vms.entity.viewModels.VmDuePayment

@{
    ViewData["Title"] = "SalesPaymentReceive";

}
@section contentheader
    {
    <div class="p-3 page-header">
        Sales Payment Receive
    </div>
}

@*<h3>@ViewData["Message"]</h3>*@
<input type="hidden" asp-for="SalesId" />
<div class="row">
    <div class="col-lg-4 offset-4">
        <span class="text-danger">@ViewData["Message"]</span>
        <form asp-action="SalesPaymentReceive" class="form-horizontal" id="frmPayment">
            <div class="form-body">

                <div>
                    @await Html.PartialAsync("DuePaymentPartial", Model)

                </div>



            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="mt-3 float-end">

                        <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Submit</button>
                        <button type="button" value="Reset" class="btn  btn-warning btn-sm" onclick="location.reload();"><i class="bi bi-arrow-repeat"></i> Reset</button>
                        <a asp-action="SalesDue" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
@*@section Scripts
    {
        <script>
            function checkAmount() {
                if (+document.getElementById("PaidAmount").value > +document.getElementById("DueAmount").value) {
                    window.generalUtility.message.showErrorMsg("Payment amount should not be greater than due amount!");
                    return false;
                } else {
                    return true;
                }
            }
        </script>
    }*@

@section Scripts{
    <script src="~/CustomJs/DuePayment.js?vguid=@ViewStaticData.StaticFileVersionGuid"></script>
}