@model vms.entity.models.OrgStaticDatum

@{
    ViewData["Title"] = "Create";
    
    
}
@section contentheader
    {
    <div class="p-3 page-header">
        Integration Setup
    </div>
}

<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="ContractTypeCreate" class="form-horizontal" id="frmDamageCreate">
            <div class="form-body">
                <div class="form-group">
                    <label class="form-label">Contract Type : </label>
                    <div>
                        <select id="DataKey" name="DataKey" class="form-control form-control-sm" asp-items="ViewBag.ContractTypeId">
                            <option>Select</option>
                        </select>
                        <span asp-validation-for="DataKey" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label"> Reference Key : </label>
                    <div>
                        <input asp-for="ReferenceKey" class="form-control form-control-sm" maxlength="10" />
                        <span asp-validation-for="ReferenceKey" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Submit</button>
                <button type="button" value="Reset" onclick="location.reload();" class="btn  btn-warning btn-sm"><i class="bi bi-arrow-repeat"></i> Reset</button>
                <a asp-controller="IntegrationSetup" asp-action="ContractTypeIndex" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
            </div> 
        </form>
    </div>
</div>



