@model vms.entity.models.AdjustmentType 
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<grid-freeze-menu>
	@if (UserAuthorization.Check(FeatureList.ADMINSTRATION_PRODUCT_GROUPS_CAN_EDIT, session.Rights))
	{
		<li>
			<a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.AdjustmentTypeId"><i class="bi bi-pencil-square"></i> Edit</a>
		</li>
	}
</grid-freeze-menu>