
@{
    ViewData["Title"] = "Mushak Reports";
    Layout = "_LayoutMushak";


}


@section contentheader
    {
    <div class="p-3 page-header">
       Mushak Reports
        <div class="d-flex justify-content-start">

            

        </div>
    </div>
    <div class="col-12 d-flex">
        <ul class="nav nav-pills mt-3 mr-auto align-bottom">
            
        </ul>
        @using (Html.BeginForm("", "", FormMethod.Get, new { id = "frmPurchase", @class = "d-flex pr-1 mt-3" }))
        {
            
        }
    </div>
}