@{
	var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}
<div class="col-12">
	<ul class="nav nav-pills mr-auto align-bottom purchaseNavBar">
		<li class="nav-item">
			<a class="nav-link" href="@Url.Action("Index", "Purchase")">Purchase</a>
		</li>
		@if (UserAuthorization.Check(FeatureList.PURCHASE_PURCHASE_DUE_LIST_CAN_VIEW, session.Rights))
		{
			<li class="pull-right nav-item">
				<a class="nav-link" href="@Url.Action("PurchaseDue", "Purchase")">Purchase Due</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link" href="@Url.Action("UploadSimplifiedLocalPurchaseList", "Purchase")">Upload Local Purchase</a>
		</li>
	</ul>
</div>