@model IEnumerable<vms.entity.models.Purchase>
@{
    ViewData["Title"] = "Purchase Due";

}

@section contentheader
{
	<partial name="Purchase/_PurchaseHeader" />
}

<div class="gray-slim-scroll-container">
	<div class="table-scroll-container">
		<partial name="_PurchaseDueIndex" model="Model"/>
	</div>
</div>