@using vms.Utility.Converter
@model vms.entity.viewModels.User.UserPasswordUpdateViewModel
@{
    ViewData["Title"] = "Edit";


}
@section contentheader
    {
    <div class="p-3 page-header">
        Edit User
    </div>
}
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="UserUpdatePassword" class="form-horizontal" id="frmusercreate">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="EncryptedId" />
            <span asp-validation-for="UserId"></span>
            <div class="form-body">

                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <div>
                        <input asp-for="FullName" readonly="readonly />
                        <span asp-validation-for="FullName"></span>
                    </div>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="EmailAddress"></label>
                    <div>
                        <input type="text" readonly="readonly" value="@Model.EmailAddress" asp-for="EmailAddress" />
                        <span asp-validation-for="EmailAddress"></span>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Mobile"></label>
                    <div>
                        <input asp-for="Mobile" readonly="readonly />
                        <span asp-validation-for="Mobile"></span>
                    </div>
                </div>
                
            </div>

            <div class="float-end mt-3">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Reset</button>
                <a asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
            </div>

        </form>
    </div>
</div>
@section Scripts{



}