@model vms.entity.viewModels.CustomerViewModel.CustomerCategoryUpdateViewModel
@{
    ViewData["Title"] = "Edit";


}
@section contentheader
{
    <div class="p-3 page-header">
        Edit Customer Category
    </div>
}
<div class="row">
    <div class="col-md-4 offset-4">

        <form asp-action="Edit" class="form-horizontal" id="frmusercreate">
            <input type="hidden" asp-for="CustomerCategoryId" />
            <div class="form-body">
                <div class="form-group ">
                    <label asp-for="CategoryName">Category Name</label>
                    <div>
                        <input asp-for="CategoryName" />
                        <span asp-validation-for="CategoryName"></span>

                    </div>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Remarks"></label>
                    <div>
                        <textarea asp-for="Remarks"></textarea>
                        <span asp-validation-for="Remarks"></span>
                    </div>
                </div>

            </div>

            <div class="float-end mt-3">
                <button type="submit" data-requiredconfirmation="true" class="btn  btn-primary btn-sm"><i class="bi bi-check-lg"></i> Update</button>
                <button type="button" onclick="location.reload();" value="Reset" class="btn  btn-warning btn-sm"><i class="bi bi-arrow-repeat"></i> Reset</button>
                <a asp-controller="CustomerCategory" asp-action="Index" class="btn btn-secondary btn-sm"><i class="bi bi-slash-circle"></i> Cancel</a>
            </div>
        </form>
    </div>
</div>