@model vms.entity.models.Sale
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}

<div class="nav navbar-nav">
	<div class="dropdown dropdown-freeze-grid-action">
		<a href="#" class="" data-bs-toggle="dropdown" data-close-others="true">
			<i class="text-dark bi bi-three-dots-vertical"></i>
		</a>
		<ul class=" dropdown-menu dropdown-menu-right div-with-arrow-right-top">
            @if (UserAuthorization.Check(FeatureList.SALE_SALE_DUE_CAN_ADD_SALES_RECEIVE, session.Rights))
            {
                <li>
                    <a class="dropdown-item" asp-action="SalesPaymentReceive" asp-route-id="@Model.EncryptedId"><i class="bi bi-cash"></i> Receive Sales Due</a>
                </li>
            }


        </ul>
    </div>
</div>

