<div class="font-weight-bold mt-3 form-3">
	Product List
	<table id="productTable" class="table table-bordered form-table mt-3">
		<thead>
			<tr>
				<th>Product</th>
				<th>M. Unit</th>
				<th>Quantity</th>
				<th>U. Price</th>
				<th>Amount</th>
				<th>VAT (%)</th>
				<th>VAT</th>
				<th>SD (%)</th>
				<th>SD</th>
				<th>Change Quantity</th>
				<th>Change U.Price</th>
				<th>Change Amount</th>
				<th>Change VAT (%)</th>
				<th>Change VAT</th>
				<th>Change SD (%)</th>
				<th>Change SD</th>
				<th>Reason Of Change</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="productTableBody">
		</tbody>
		<tfoot>
			<tr class="text-end">
				<td colspan="9">Total</td>
				<td id="changeQuantity"></td>
				<td id="changeUnitPrice"></td>
				<td id="changeAmount"></td>
				<td id="changeVatPercent"></td>
				<td id="changeVat"></td>
				<td id="changeSdPercent"></td>
				<td id="changeSd"></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
