@model vms.entity.viewModels.NewReports.vmSalesVDSListReport


@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
    ViewData["Title"] = "Sales VDS List Report";
    Layout = "_LayoutReport";
}


@section contentheader
    {
    <div class="p-3 page-header">
        @ViewData["Title"]
    </div>
}

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="SalesVDSListReport" class="form-horizontal" target="_blank">
            <div class="row">
                <div class="col-6">
                    <label asp-for="FromDate" ></label>
                    <input asp-for="FromDate" type="date" />
                    <span asp-validation-for="FromDate" ></span>
                </div>
                <div class="col-6">
                    <label asp-for="ToDate" > </label>
                    <input asp-for="ToDate" type="date" />
                    <span asp-validation-for="ToDate" ></span>
                </div>

            </div>
            <div class="form-group mt-3">
                <label  asp-for="ReportProcessOptionId"></label>
                <div>
                    <select asp-for="ReportProcessOptionId" asp-items="Model.ReportOptionSelectListItems.CustomSelectListToSelectList()" >
                        <option value="@null">Select Option</option>
                    </select>
                    <span asp-validation-for="ReportProcessOptionId" ></span>
                </div>
            </div>
            <div class="form-group mt-3 float-end">
                <button type="submit" class="btn btn-sm btn-primary"> <i class="bi bi-file-text"></i> Process Report</button>
            </div>
        </form>
    </div>
</div>
