@model vms.entity.viewModels.NewReports.vmPurchaseVDSList


@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
    ViewData["Title"] = "Purchase VDS List Report";
    Layout = "_LayoutReport";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="PurchaseVDSListReport" class="form-horizontal" target="_blank">
            <div class="row">
                <div class="col-6">
                    <label asp-for="FromDate" class="form-label"></label>
                    <input asp-for="FromDate" class="form-control form-control-sm" type="date" />
                    <span asp-validation-for="FromDate" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ToDate" class="form-label"> </label>
                    <input asp-for="ToDate" class="form-control form-control-sm" type="date" />
                    <span asp-validation-for="ToDate" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group mt-3">
                <label class="form-label" asp-for="ReportProcessOptionId"></label>
                <div>
                    <select asp-for="ReportProcessOptionId" asp-items="Model.ReportOptionSelectListItems.CustomSelectListToSelectList()" class="searchable-dropdown" data-live-search="true" data-style="bootstrap-select-option">
                        <option value="@null">Select Option</option>
                    </select>
                    <span asp-validation-for="ReportProcessOptionId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3 float-end">
                <button type="submit" class="btn btn-sm btn-primary"> <i class="bi bi-file-text"></i> Process Report</button>
            </div>
        </form>
    </div>
</div>