@model vms.entity.models.BranchTransferSend
@{
    var session = Context.Session.GetComplexData<VmUserSession>(ControllerStaticData.SESSION);
}
<grid-freeze-menu>
	@if (UserAuthorization.Check(FeatureList.MUSHAK_MUSHAK_6_3_CAN_VIEW, session.Rights) && Model.IsComplete)
	{
		<li>
			<a class="dropdown-item" asp-controller="Mushak" asp-action="MushakSixPointFive" asp-route-language="0" asp-route-id="@Model.EncryptedId" target="_blank"><i class="bi bi-printer"></i> Print Mushak- 6.5 (Bangla)</a>
		</li>
		<li>
			<a class="dropdown-item" asp-controller="Mushak" asp-action="MushakSixPointFive" asp-route-language="1" asp-route-id="@Model.EncryptedId" target="_blank"><i class="bi bi-printer"></i> Print Mushak- 6.5 (English)</a>
		</li>
	}
</grid-freeze-menu>
