    <div class="col-md-12 form-3">
	    <div id="notificationArea"></div>
        <div class="font-weight-bold mt-3">
            Product List
        </div>
        <table id="productTable" class="table table-bordered form-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>SKU</th>
                    <th>SKU ID</th>
                    <th>GOODS ID</th>
                    <th>Stock</th>
                    <th>M. Unit</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="productTableBody">
            </tbody>
            <tfoot>
            <tr class="text-end">
	            <th colspan="8">Total</th>
	            <th id="productTotalPrice"></th>
	            <th></th>
	            <th></th>
            </tr>
            </tfoot>
        </table>
    </div>

